<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<handlers>
      		<add name="iisnode" path="index2.js" verb="*" modules="iisnode" />
    	</handlers>
        <rewrite>
            <rules>
                <rule name="excelservice" stopProcessing="true">
                    <match url="/*" />
                    <action type="Rewrite" url="index2.js" />
                    <conditions>
                    </conditions>
                </rule>
            </rules>
        </rewrite>
	 <iisnode loggingEnabled="true" debuggingEnabled="true" nodeProcessCommandLine="C:\Program Files (x86)\nodejs\node.exe" interceptor="C:\Program Files (x86)\iisnode\interceptor.js" />
    </system.webServer>
</configuration>

